
body {
  font-family: 'Courier New', Courier, monospace;
}

.game {
    display: flex;
    margin-top: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  h1 { 
    margin: 0 !important;
    font-size: 40px;
    width: fit-content;
  }
  
  .red {
    color: red;
  }
  
  .hide {
    display: none !important;
  }

  .winner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 32px;
    width: 200px;
    height: 150px;
    background-color: beige;
    animation: pulse 1s linear infinite;
    border-radius: 5px;
    border: 1px solid rgb(68, 68, 68);
  }

  
  ul {
    display: grid;
    width: fit-conten;
    border: 2px solid black;
    padding: 0;
    grid-template-columns: repeat(3, 100px); 
    list-style-type: none;
  }
  
  .cell__hover:hover {
    background-color: rgb(241, 241, 241) !important;
    cursor: pointer;
  }
  
  .layot > .cell {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    
    font-size: 50px;
  }
  
  
  .vinner {
    top: 120px;
    font-size: 40px;
    margin: 0;
  }
  
  .restart {
    padding: 10px;
    border-radius: 5px;
  }
  
  .restart:hover {
    cursor: pointer;
  }
  
  .turnIndicator {
    margin: 0;
    font-weight: 100;
  }


  @keyframes pulse {
    50% {
      transform: scale(1.2);
    }
  }
  